Zeroconf chokes: "zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular)"

### The problem

See error snippet below. Error comes back after HA restart.

### What is version of Home Assistant Core has the issue?

core-2021.8.0

### What was the last working version of Home Assistant Core?

core-2021.7.4

### What type of installation are you running?

Home Assistant Container

### Integration causing the issue

zeroconf

### Link to integration documentation on our website

https://www.home-assistant.io/integrations/zeroconf/

### Example YAML snippet

_No response_

### Anything in the logs that might be useful for us?

```txt
2021-08-04 13:21:55 WARNING (MainThread) [zeroconf] Choked at offset 121 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x05\x00\x00\x00\x00\x05_miio\x04_udp\x05local\x00\x00\x0c\x00\x01\x00\x00\x00x\x00$!roborock-vacuum-s5e_miio416112328\xc0\x0c!roborock-vacuum-s5e_miio416112328\x00\x00/\x80\x01\x00\x00\x00x\x00\t\xc0y\x00\x05@\x00\x00\x00\x00\xc0L\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8X\xd4\xc0(\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\xd41\xc0L\xc0(\x00\x10\x80\x01\x00\x00\x00x\x00\x0f\x0epath=/mydevice'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 121
```


### Additional information

The vacuum is a Roborock S5 and seems to work fine otherwise. 

I've got similar logs for:
- Somfy TaHoma
- eufy HomeBase2
- A macbook (running the mobile app)
- An iPad (running the mobile app)

Let me adjust the title. Can you copy-paste the errors? It'll probably help debugging.

Found some more items in the log:

```py
2021-08-04 13:58:57 WARNING (MainThread) [zeroconf] Choked at offset 105 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x0b\x00\x00\x00\x00\nTV Beneden\x10_androidtvremote\x04_tcp\x05local\x00\x00\x10\x80\x01\x00\x00\x11\x94\x00\x15\x14bt=D8:13:99:AC:98:F1\tAndroid-2\xc0-\x00/\x80\x01\x00\x00\x00x\x00\x08\xc0\x98\x00\x04@\x00\x00\x08\x010\x01F\x018\x019\x01C\x01A\x01E\x01F\x01F\x01F\x019\x019\x013\x011\x01A\x01D\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x018\x01E\x01F\x03ip6\x04arpa\x00\x00/\x80\x01\x00\x00\x00x\x00\x06\xc0\xcd\x00\x02\x00\x08\x03100\x0288\x03168\x03192\x07in-addr\xc0\xb5\x00/\x80\x01\x00\x00\x00x\x00\x06\xc0\xa4\x00\x02\x00\x08\xc0\x0c\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0\x0c\x00\x05\x00\x00\x80\x00@\xc0S\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8Xd\xc0q\x00\x0c\x80\x01\x00\x00\x00x\x00\x02\xc0S\xc0\xcb\x00\x0c\x80\x01\x00\x00\x00x\x00\x02\xc0S\xc0\x0c\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\x19B\xc0S\xc0\x17\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x0c\t_services\x07_dns-sd\x04_udp\xc0-\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x17'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 152
2021-08-04 14:01:45 WARNING (MainThread) [zeroconf] Choked at offset 147 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x04\x00\x00\x00\x00\x0215\x0288\x03168\x03192\x07in-addr\x04arpa\x00\x00\x0c\x80\x01\x00\x00\x00x\x00\x11\tAndroid-2\x05local\x00\x014\x012\x012\x019\x019\x012\x01B\x016\x012\x011\x01D\x012\x01F\x017\x01D\x01D\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x018\x01E\x01F\x03ip6\xc0"\x00/\x80\x01\x00\x00\x00x\x00\x06\xc0\xcc\x00\x02\x00\x08\xc0\x0c\x00/\x80\x01\x00\x00\x00x\x00\x06\xc0\xa4\x00\x02\x00\x08\xc0C\x00\x0c\x80\x01\x00\x00\x00x\x00\x02\xc02'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 204
2021-08-04 14:04:42 WARNING (MainThread) [zeroconf] Choked at offset 130 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x07\x00\x00\x00\x00\x0eTV Beneden (2)\x10_androidtvremote\x04_tcp\x05local\x00\x00\x10\x80\x01\x00\x00\x11\x94\x00\x15\x14bt=D8:13:99:AC:98:F1\xc0\x0c\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0\x0c\x00\x05\x00\x00\x80\x00@\tAndroid-3\xc01\x00/\x80\x01\x00\x00\x00x\x00\x08\xc0\x9c\x00\x04@\x00\x00\x08\xc0l\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8X\x0f\xc0\x0c\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\x19B\xc0l\xc0\x1b\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x0c\t_services\x07_dns-sd\x04_udp\xc01\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x1b'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 156
2021-08-04 14:04:44 WARNING (MainThread) [zeroconf] Choked at offset 116 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x0b\x00\x00\x00\x00\x0215\x0288\x03168\x03192\x07in-addr\x04arpa\x00\x00\x0c\x80\x01\x00\x00\x00x\x00\x11\tAndroid-3\x05local\x00\x0eTV Beneden (2)\x10_androidtvremote\x04_tcp\xc0<\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0\xc1\x00\x05\x00\x00\x80\x00@\xc02\x00/\x80\x01\x00\x00\x00x\x00\x08\xc02\x00\x04@\x00\x00\x08\x014\x012\x012\x019\x019\x012\x01B\x016\x012\x011\x01D\x012\x01F\x017\x01D\x01D\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x010\x018\x01E\x01F\x03ip6\xc0"\x00/\x80\x01\x00\x00\x00x\x00\x06\xc0C\x00\x02\x00\x08\xc0\x0c\x00/\x80\x01\x00\x00\x00x\x00\x06\xc0\x0c\x00\x02\x00\x08\xc0C\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\x19B\xc02\xc0R\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0C\t_services\x07_dns-sd\x04_udp\xc0<\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0R\xc0C\x00\x10\x80\x01\x00\x00\x11\x94\x00\x15\x14bt=D8:13:99:AC:98:F1\xc02\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8X\x0f\xc0\x91\x00\x0c\x80\x01\x00\x00\x00x\x00\x02\xc02'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 193
2021-08-04 14:15:24 WARNING (MainThread) [zeroconf] Choked at offset 57 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x01\x00\x00\x00\x00!roborock-vacuum-s5e_miio416112328\x00\x00/\x80\x01\x00\x00\x00x\x00\t\xc0P\x00\x05@\x00\x00\x00\x00'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 80
2021-08-04 15:10:53 WARNING (MainThread) [zeroconf] Choked at offset 43 while unpacking b'\x00\x00\x00\x00\x00\x01\x00\x02\x00\x00\x00\x00\x07Android\x05local\x00\x00\xff\x00\x01\xc0\x0c\x00/\x00\x01\x00\x00\x00x\x00\x08\xc02\x00\x04@\x00\x00\x08\xc0\x0c\x00\x01\x00\x01\x00\x00\x00x\x00\x04\xc0\xa8X<'
Traceback (most recent call last):
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
self.read_others()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
name = self.read_name()
File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 50
```

I have been told this is an mDNS issue on the router after a Zeroconf upgrade, not HA related


I've got a Mikrotik router - and never had this issue in my logs before the latest 'upgrade'. Curious what this improvement should be then....

https://github.com/home-assistant/core/issues/53668

> I've got a Mikrotik router - and never had this issue in my logs before the latest 'upgrade'. Curious what this improvement should be then....

Probably always happening, just not being logged as is the case now.

> #53668
> 
> The initial thought was that it was Sonos related, but there were other devices also.

I see a lot of different brands in the various logs, so that must be a whole lot of buggy implementations.... 

For what it's worth: I'm using the standard avahi-reflector on my Debian10 Docker host - updated to the lastest.

> > I've got a Mikrotik router - and never had this issue in my logs before the latest 'upgrade'. Curious what this improvement should be then....
> 
> Probably always happening, just not being logged unlike now.

I'd prefer some error handling upstream to prevent spamming the HA logs: it's an error in the upstream processing. HA worked fine without this functionality, so I can probably live without it.

> > > I've got a Mikrotik router - and never had this issue in my logs before the latest 'upgrade'. Curious what this improvement should be then....
> > 
> > 
> > Probably always happening, just not being logged unlike now.
> 
> I'd prefer some error handling upstream to prevent spamming the HA logs: it's an error in the upstream processing. HA worked fine without this functionality, so I can probably live without it.

I'd prefer not to sweep the issue under the rug as its unlikely to get fixed at the source if we silence it.  Its a real problem since the packet will get dropped and something my be relying on the data in the packet.

Agree, but devils-advocate: until lately we were ignoring these packets anyway....

```
 % python3 
Python 3.9.6 (default, Jun 28 2021, 19:24:41) 
[Clang 12.0.5 (clang-1205.0.22.9)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
>>> import dns.message
>>> dns.message.from_wire(b"\x00\x00\x84\x00\x00\x00\x00\x06\x00\x00\x00\x00\x04_hap\x04_tcp\x05local\x00\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x16\x13eufy HomeBase2-2464\xc0\x0c\x04Eufy\xc0\x16\x00/\x80\x01\x00\x00\x00x\x00\x08\xc0\xa6\x00\x04@\x00\x00\x08\xc0'\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0'\x00\x05\x00\x00\x80\x00@\xc0=\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8Dp\xc0'\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\xd1_\xc0=\xc0'\x00\x10\x80\x01\x00\x00\x11\x94\x00K\x04c#=1\x04ff=2\x14id=38:71:4F:6B:76:00\x08md=T8010\x06pv=1.1\x05s#=75\x04sf=1\x04ci=2\x0bsh=xaQk4g==")
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/homebrew/lib/python3.9/site-packages/dns/message.py", line 1074, in from_wire
    m = reader.read()
  File "/opt/homebrew/lib/python3.9/site-packages/dns/message.py", line 998, in read
    self._get_section(MessageSection.ANSWER, ancount)
  File "/opt/homebrew/lib/python3.9/site-packages/dns/message.py", line 938, in _get_section
    rd = dns.rdata.from_wire_parser(rdclass, rdtype,
  File "/opt/homebrew/lib/python3.9/site-packages/dns/rdata.py", line 649, in from_wire_parser
    return cls.from_wire_parser(rdclass, rdtype, parser, origin)
  File "/opt/homebrew/lib/python3.9/site-packages/dns/rdtypes/ANY/NSEC.py", line 65, in from_wire_parser
    next = parser.get_name(origin)
  File "/opt/homebrew/lib/python3.9/site-packages/dns/wire.py", line 52, in get_name
    name = dns.name.from_wire_parser(self)
  File "/opt/homebrew/lib/python3.9/site-packages/dns/name.py", line 985, in from_wire_parser
    raise BadPointer
dns.name.BadPointer: A DNS compression pointer points forward instead of backward.
>>> 
```

Example to test if the packet is actually invalid.

> Agree, but devils-advocate: until lately we were ignoring these packets anyway....

We actually were only ignoring the NSEC records in the packets and processing the rest of the data.  It wasn't until NSEC support was added that we were able to see the invalid data.

> ```
>  % python3 
> Python 3.9.6 (default, Jun 28 2021, 19:24:41) 
> [Clang 12.0.5 (clang-1205.0.22.9)] on darwin
> Type "help", "copyright", "credits" or "license" for more information.
> >>> import dns.message
> >>> dns.message.from_wire(b"\x00\x00\x84\x00\x00\x00\x00\x06\x00\x00\x00\x00\x04_hap\x04_tcp\x05local\x00\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x16\x13eufy HomeBase2-2464\xc0\x0c\x04Eufy\xc0\x16\x00/\x80\x01\x00\x00\x00x\x00\x08\xc0\xa6\x00\x04@\x00\x00\x08\xc0'\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0'\x00\x05\x00\x00\x80\x00@\xc0=\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8Dp\xc0'\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\xd1_\xc0=\xc0'\x00\x10\x80\x01\x00\x00\x11\x94\x00K\x04c#=1\x04ff=2\x14id=38:71:4F:6B:76:00\x08md=T8010\x06pv=1.1\x05s#=75\x04sf=1\x04ci=2\x0bsh=xaQk4g==")
> Traceback (most recent call last):
>   File "<stdin>", line 1, in <module>
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/message.py", line 1074, in from_wire
>     m = reader.read()
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/message.py", line 998, in read
>     self._get_section(MessageSection.ANSWER, ancount)
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/message.py", line 938, in _get_section
>     rd = dns.rdata.from_wire_parser(rdclass, rdtype,
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/rdata.py", line 649, in from_wire_parser
>     return cls.from_wire_parser(rdclass, rdtype, parser, origin)
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/rdtypes/ANY/NSEC.py", line 65, in from_wire_parser
>     next = parser.get_name(origin)
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/wire.py", line 52, in get_name
>     name = dns.name.from_wire_parser(self)
>   File "/opt/homebrew/lib/python3.9/site-packages/dns/name.py", line 985, in from_wire_parser
>     raise BadPointer
> dns.name.BadPointer: A DNS compression pointer points forward instead of backward.
> >>> 
> ```
> 
> Example to test if the packet is actually invalid.

All I've tested so far show `dns.name.BadPointer: A DNS compression pointer points forward instead of backward`

> For what it's worth: I'm using the standard avahi-reflector on my Debian10 Docker host - updated to the latest.

Given how long `avahi` has been around, its possible that `avahi` does it "correctly" and both `dnspython` and `zeroconf` haven't implemented dns compression correctly.

FWITW, dns name compression is a mess with many different standards:

RFC1035
RFC3597
RFC4034
RFC2535(8.1)
https://datatracker.ietf.org/doc/html/rfc6762#section-6.1
https://datatracker.ietf.org/doc/html/rfc3845#section-2.1.1

Deciphering what is actually supposed to happen is left as an exercise to the reader since there are places that conflict with each other.

> > #53668
> > The initial thought was that it was Sonos related, but there were other devices also.
> 
> I see a lot of different brands in the various logs, so that must be a whole lot of buggy implementations....
> 
> For what it's worth: I'm using the standard avahi-reflector on my Debian10 Docker host - updated to the lastest.

Here also standard avahi, but on Ubuntu 20.04.2 LTS

The packets definitely have name compression pointers that are pointing forward instead of backwards.

nslookup does support this

dnspython disallows this
Net::DNS disallows this
zeroconf disallows this

If we were to allow name compression pointers that point forward we would have to be very careful not to create this vuln: https://www.kb.cert.org/vuls/id/23495/



https://github.com/Forescout/namewreck/blob/main/rfc/draft-dashevskyi-dnsrr-antipatterns-00.txt

> Just adding that I also get these similar error logs for a **Vizio Soundbar**.
> I'm also using Avahi replicator across different subnets in pfsense.
> 
> (that same vizio soundbar has been giving me a lot of headaches, I wonder if there is any correlation with this thing that is showing up now...)

Please post the full log message with the full dns packet.  We can't tell if its the same issue without it.

@hmmbob  If you install https://github.com/jstasiak/python-zeroconf/pull/934 does it solve the issue?

> @hmmbob If you install [jstasiak/python-zeroconf#934](https://github.com/jstasiak/python-zeroconf/pull/934) does it solve the issue?

'morning!

Happy to try, but can you help me with the steps? Running HA Container, so the first one will be

`docker exec -it homeassistant /bin/bash` but then....

```
docker exec -it homeassistant /bin/bash
git clone https://github.com/bdraco/python-zeroconf
cd python-zeroconf
git checkout -t origin/forward_name_compression
pip3 install --upgrade .
```

Works like a charm, no more errors and all seems fine.

I've noticed that my Sonos Speakers on a different VLAN are now unavailable.
Moving them over to the same subnet as Home Assistant brings them back in.
The errors may be more than just informational?

> ```
> docker exec -it homeassistant /bin/bash
> git clone https://github.com/bdraco/python-zeroconf
> cd python-zeroconf
> git checkout -t origin/forward_name_compression
> pip3 install --upgrade .
> ```
> 
> Works like a charm, no more errors and all seems fine.

Have just applied this fix too (also using HA Container) - Was getting lots of errors for Sonos, HomeKit, Roborock, iPad Pro etc. but they weren't too often so will report back later today for results.

> > ```
> 
> > docker exec -it homeassistant /bin/bash
> 
> > git clone https://github.com/bdraco/python-zeroconf
> 
> > cd python-zeroconf
> 
> > git checkout -t origin/forward_name_compression
> 
> > pip3 install --upgrade .
> 
> > ```
> 
> > 
> 
> > Works like a charm, no more errors and all seems fine.
> 
> 
> 
> Have just applied this fix too (also using HA Container) - Was getting lots of errors for Sonos, HomeKit, Roborock, iPad Pro etc. but they weren't too often so will report back later today for results.

No further issues after 7 hours 👍

Hi, Here are my logs for the Vizio integration part:

```log
Logger: zeroconf
Source: /usr/local/lib/python3.9/site-packages/zeroconf/_logger.py:52
First occurred: 5:01:35 PM (2 occurrences)
Last logged: 5:01:50 PM

Choked at offset 255 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\t\x00\x00\x00\x00\x08Soundbar\n_viziocast\x04_tcp\x05local\x00\x00\x10\x80\x01\x00\x00\x11\x94\x00\xb2\x14bt=00:00:00:00:00:00\x0bid=\n\x0b}\x8f\x0c\x1dL\xbc\nfver=28390\x04dt=2\x05pwr=0\x06oobe=0\x05uli=3\x05tos=0\x0ename=SB3651-E6\x07soc=MTK\x15eth=c4:1c:ff:d1:c7:09\x16wifi=a0:6a:44:25:a2:13\x0brver=V1.0.7\x0bmver=V0.8.7\x0bbver=V0.8.7\nChromecast\xc0%\x00/\x80\x01\x00\x00\x00x\x00\x05\xc1-\x00\x01@\x0230\x012\x03168\x03192\x07in-addr\x04arpa\x00\x00/\x80\x01\x00\x00\x00x\x00\x06\xc1:\x00\x02\x00\x08\xc0\x0c\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0\x0c\x00\x05\x00\x00\x80\x00@\xc0\xe8\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8\x02\x1e\xc1\x04\x00\x0c\x80\x01\x00\x00\x00x\x00\x02\xc0\xe8\xc0\x0c\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00#(\xc0\xe8\xc0\x15\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x0c\t_services\x07_dns-sd\x04_udp\xc0%\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x15'
Choked at offset 443 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\x11\x00\x00\x00\x00\x02TV\x08_airplay\x04_tcp\x05local\x00\x00\x10\x80\x01\x00\x00\x11\x94\x01u\x05acl=0\x1adeviceid=AD:A8:7F:99:70:B1\x1bfeatures=0x7F8AD0,0x30BCB46\x07rsf=0x3\x13fv=p20.10.0.109.4-3\x0bflags=0x244\rmodel=E60u-D3\x12manufacturer=VIZIO\x1cserialNumber=LFTRURAS1501669\rprotovers=1.1\x11srcvers=377.25.06\x14pi=AD:A8:7F:99:70:B1(psi=00000000-0000-0000-0000-ADA87F9970B1(gid=00000000-0000-0000-0000-ADA87F9970B1\x06gcgl=0Cpk=dfac16ebfe280841c0c33997844210faad50599f5a79609d69de1c0f2e3c70d6\x0bviziocasttv\xc0\x1d\x00/\x80\x01\x00\x00\x00x\x00\x05\xc1\xe8\x00\x01@\x02TV\n_viziocast\xc0\x18\x00/\x80\x01\x00\x00\x00x\x00\t\xc2\xb7\x00\x05\x00\x00\x80\x00@\rVIZIO TV 2427\x04_hap\xc0\x18\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc1\xf6\x00\x05\x00\x00\x80\x00@\xc0\x0c\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0\x0c\x00\x05\x00\x00\x80\x00@\xc1\xa3\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8\x02"\xc1\xc0\x00\x10\x80\x01\x00\x00\x11\x94\x01\x12\x11id=KhuwNHRRz/3DDA$cid=1365fcecc7a310c116683362fa3aa5cd\x12did=ysadc/GcAYrdZA\x10eth=cc95d7e8b70f\x11wifi=a48d3b2dcd48\x03bt=\x11fver=10.0.109.4-3\x0brver=1.0.13\x07mver=29\nbver=1.1.4\x04dt=0\x05pwr=0\x06oobe=0\x05uli=0\x05tos=1\x04es=0\x07name=TV\x0bmdl=E60u-D3\x06soc=SG\x04dl=0\x04dc=0\x07hp=7346\x08hsp=7345\x07wp=8005\x08wsp=8006\x05ver=5\xc1\xc0\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\x1c\xb1\xc1\xa3\xc1\xc3\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc1\xc0\t_services\x07_dns-sd\x04_udp\xc0\x1d\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc1\xc3\xc1\xe3\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\xd3|\xc1\xa3\xc1\xf1\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc1\xe3\xc3p\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc1\xf1\xc1\xe3\x00\x10\x80\x01\x00\x00\x11\x94\x00M\x04c#=5\x04ff=8\x14id=AD:A8:7F:99:70:B1\nmd=E60u-D3\x06pv=1.1\x04s#=1\x04sf=1\x05ci=31\x0bsh=CXW68w==\xc0\x0c\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00\x1bX\xc1\xa3\xc0\x0f\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x0c\xc3p\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x0f'
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 101, in __init__
    self.read_others()
  File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 206, in read_others
    name = self.read_name()
  File "/usr/local/lib/python3.9/site-packages/zeroconf/_protocol.py", line 261, in read_name
    raise IncomingDecodeError(f"Bad domain name (circular) at {off}")
zeroconf._exceptions.IncomingDecodeError: Bad domain name (circular) at 301
```

I'll also try the jstasiak/python-zeroconf#934 later after work when I have chance

> ```yaml
> Choked at offset 255 while unpacking b'\x00\x00\x84\x00\x00\x00\x00\t\x00\x00\x00\x00\x08Soundbar\n_viziocast\x04_tcp\x05local\x00\x00\x10\x80\x01\x00\x00\x11\x94\x00\xb2\x14bt=00:00:00:00:00:00\x0bid=\n\x0b}\x8f\x0c\x1dL\xbc\nfver=28390\x04dt=2\x05pwr=0\x06oobe=0\x05uli=3\x05tos=0\x0ename=SB3651-E6\x07soc=MTK\x15eth=c4:1c:ff:d1:c7:09\x16wifi=a0:6a:44:25:a2:13\x0brver=V1.0.7\x0bmver=V0.8.7\x0bbver=V0.8.7\nChromecast\xc0%\x00/\x80\x01\x00\x00\x00x\x00\x05\xc1-\x00\x01@\x0230\x012\x03168\x03192\x07in-addr\x04arpa\x00\x00/\x80\x01\x00\x00\x00x\x00\x06\xc1:\x00\x02\x00\x08\xc0\x0c\x00/\x80\x01\x00\x00\x11\x94\x00\t\xc0\x0c\x00\x05\x00\x00\x80\x00@\xc0\xe8\x00\x01\x80\x01\x00\x00\x00x\x00\x04\xc0\xa8\x02\x1e\xc1\x04\x00\x0c\x80\x01\x00\x00\x00x\x00\x02\xc0\xe8\xc0\x0c\x00!\x80\x01\x00\x00\x00x\x00\x08\x00\x00\x00\x00#(\xc0\xe8\xc0\x15\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x0c\t_services\x07_dns-sd\x04_udp\xc0%\x00\x0c\x00\x01\x00\x00\x11\x94\x00\x02\xc0\x15'
> ```

```
<DNSIncoming:{id=0, flags=33792, truncated=False, n_q=0, n_ans=9, n_auth=0, n_add=0, questions=[], answers=[record[txt,in-unique,Soundbar._viziocast._tcp.local.]=4500/4499,b'\x14bt=00:'..., record[nsec,in-unique,Chromecast.local.]=120/119,,a, record[nsec,in-unique,30.2.168.192.in-addr.arpa.]=120/119,�
                                                                                                                                       �@.Chromecast.local.,ptr, record[nsec,in-unique,Soundbar._viziocast._tcp.local.]=4500/4499,Soundbar._viziocast._tcp.local.,txt|srv, record[a,in-unique,Chromecast.local.]=120/119,192.168.2.30, record[ptr,in-unique,30.2.168.192.in-addr.arpa.]=120/119,Chromecast.local., record[srv,in-unique,Soundbar._viziocast._tcp.local.]=120/119,Chromecast.local.:9000, record[ptr,in,_viziocast._tcp.local.]=4500/4499,Soundbar._viziocast._tcp.local., record[ptr,in,_services._dns-sd._udp.local.]=4500/4499,_viziocast._tcp.local.]}>
```

Looks like it can handle the garbage in the NSEC next name now

I know it's been merged already, but just confirming it again that it worked for me. 
I manually updated my instance with the latest code, error is gone. Thank you @bdraco! 