HA sometimes not responding to mDNS query

### The problem

Every once in a while I can't access "homeassistant.local:8123", after a couple of reboots, everything starts working again. I started looking into it and went down the rabbit hole of mDNS (I'm no network expert, I'm learning everything as I go). I pulled out Wireshark and noticed strange behavior. HA will sometimes not respond to a mDNS query.

![Image](https://github.com/user-attachments/assets/338ef072-61b6-4ed5-879d-ad853c3e99bf)

There are a few things going on here so I'll try to summarize it
* The queries HA does not respond to come from 192.168.100.1, my UniFi gateway
* The source of the mDNS query (my and wife's phone) is a device on a separate network, but my UniFi gateway acts as a mDNS repeater/reflector(?) and passes the query to the IoT network, 192.168.100.xxx, where HA lives

The pattern that I found, is that these requests from my and wife's phone on the main LAN are setting a transaction ID and the RD flag on the mDNS query. The UniFi gateway keeps these properties intact and repeats/reflect the query on the IoT vLAN.

Where I think the bug with HA is, it either doesn't like a transaction ID or the RD flag and completely ignores the mDNS query.

According to [RFC 6762 18.6](https://datatracker.ietf.org/doc/html/rfc6762#section-18.6), the mDNS standard, the RD flag SHOULD be zero on transmission, which it isn't, if anyone knows why, please let me know! The mDNS query originates from a Pixel and Galaxy phone, both using the Chrome browser. However, it also says that the RD flag MUST be ignored by the receiver, so whether it's set or not, it shouldn't matter.

If there is any more information I can provide please let me know. Thank you.

### What version of Home Assistant Core has the issue?

core-2025.2.5

### What was the last working version of Home Assistant Core?

_No response_

### What type of installation are you running?

Home Assistant OS

### Integration causing the issue

_No response_

### Link to integration documentation on our website

https://developers.home-assistant.io/docs/network_discovery/

### Diagnostics information

_No response_

### Example YAML snippet

```yaml

```

### Anything in the logs that might be useful for us?

```txt

```

### Additional information

_No response_

I apologize, I don't know what the protocol is here when reporting a bug, but I'm still consistently seeing this issue.

I'm not quite sure of this, but when I update `ESPHome Builder`, I seem to have a similar problem with browser access using the hostname.  I haven't fully verified this because I'm waiting for another update.  It takes a single reboot to correct the misbehavior.  

Do not close it please, issue still present . In addittion mobile app cant connect with HA - error 6 , connection closed. 

It might be worth opening/moving the issue to https://github.com/home-assistant/supervisor

@Matikitorch operating with reflectors has shown to cause problems with the mDNS [RFC6762 Section 9 Conflict Resolution](https://datatracker.ietf.org/doc/html/rfc6762#section-9) as done by the systemd-resolved mDNS responder used Home Assistant OS. See also https://github.com/home-assistant/supervisor/issues/5435#issuecomment-3280167823.

A few months ago, I had a similar problem.  Not knowing any better, I set up a host override in my local DNS resolver.  It has been working well since.  FYI, I'm using Avahi for mDNS, but only have a single VLAN.  Is this approach consistent with this issue?