XMPP notifications cause errors in log

<!-- READ THIS FIRST:
  - If you need additional help with this template, please refer to https://www.home-assistant.io/help/reporting_issues/
  - Make sure you are running the latest version of Home Assistant before reporting an issue: https://github.com/home-assistant/core/releases
  - Do not report issues for integrations if you are using custom components or integrations.
  - Provide as many details as possible. Paste logs, configuration samples and code into the backticks.
  DO NOT DELETE ANY TEXT from this template! Otherwise, your issue may be closed without comment.
-->
## The problem
<!-- 
  Describe the issue you are experiencing here to communicate to the
  maintainers. Tell us what you were trying to do and what happened.
-->
When XMPP notification is sended, every time in log i see the Error message (see Traceback/Error section)

## Environment
<!--
  Provide details about the versions you are using, which helps us to reproduce
  and find the issue quicker. Version information is found in the
  Home Assistant frontend: Developer tools -> Info.
-->

- Home Assistant Core release with the issue:  0.113.1
- Last working Home Assistant Core release (if known): 
- Operating environment (OS/Container/Supervised/Core): Core
- Integration causing this issue: xmpp
- Link to integration documentation on our website: [Jabber xmpp](https://www.home-assistant.io/integrations/xmpp/)

## Problem-relevant `configuration.yaml`
<!--
  An example configuration that caused the problem for you. Fill this out even
  if it seems unimportant to you. Please be sure to remove personal information
  like passwords, private URLs and other credentials.
-->

```yaml
notify:
  - name: jabber_1
    platform: xmpp
    sender: sender
    password: password
    recipient: recipient
    tls: true
    verify: false
```

## Traceback/Error logs
<!--
  If you come across any trace or error logs, please provide them.
-->

```txt
Logger: homeassistant
Source: runner.py:102
ERROR (SyncWorker_11) [homeassistant] Error doing job: Task was destroyed but it is pending!
```

## Additional information



Today got additional error:
`
Source: /srv/homeassistant/lib/python3.7/site-packages/homeassistant/runner.py:102
ERROR (Recorder) [homeassistant] Error doing job: Task exception was never retrieved 
RuntimeError: cannot reuse already awaited coroutine
`

I don't see a connection to XMPP...
please post additional logs

There are no any errors from XMPP itself. Notifications is sent and received, but every time after that i have such messages in logs from the core, not from xmpp itself.

The debug log is follow:
```
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.plugins.base] Loaded Plugin: RFC 6120: Stream Feature: STARTTLS
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.plugins.base] Loaded Plugin: RFC 6120: Stream Feature: Resource Binding
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.plugins.base] Loaded Plugin: RFC 3920: Stream Feature: Start Session
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.plugins.base] Loaded Plugin: RFC 6121: Stream Feature: Roster Versioning
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.plugins.base] Loaded Plugin: RFC 6121: Stream Feature: Subscription Pre-Approval
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.plugins.base] Loaded Plugin: RFC 6120: Stream Feature: SASL
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: connecting
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.resolver] DNS: Use of IPv6 has been disabled.
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.resolver] DNS: Querying SRV records for name_of_jabber_server
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.resolver] DNS: Exception while querying for name_of_jabber_server SRV records: (4, b'Domain name not found')
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.resolver] DNS: Querying name_of_jabber_server for A records.
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: connected
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <stream:stream to='name_of_jabber_server' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <stream:stream from="name_of_jabber_server" version="1.0" id="0636f7ba-816a-432d-abb0-7697bffb39ac" xml:lang="en">
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls></stream:features>
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <starttls xmlns="urn:ietf:params:xml:ns:xmpp-tls"><required /></starttls>
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <proceed xmlns="urn:ietf:params:xml:ns:xmpp-tls" />
2020-08-07 17:20:54 DEBUG (MainThread) [slixmpp.features.feature_starttls.starttls] Starting TLS
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: ssl_cert
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: tls_success
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <stream:stream to='name_of_jabber_server' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <stream:stream from="name_of_jabber_server" version="1.0" id="07d5a24a-8e34-4a4b-8165-5183794755d6" xml:lang="en">
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><mechanisms xmlns="urn:ietf:params:xml:ns:xmpp-sasl"><mechanism>PLAIN</mechanism><mechanism>SCRAM-SHA-1-PLUS</mechanism><mechanism>SCRAM-SHA-1</mechanism></mechanisms></stream:features>
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <auth xmlns="urn:ietf:params:xml:ns:xmpp-sasl" mechanism="SCRAM-SHA-1-PLUS">cD10bHMtdW5pcXVlLCxuPWJvbGszMCxyPTEzMzQ1MjY1MTEzMjE3MTA5</auth>
2020-08-07 17:20:55 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <challenge xmlns="urn:ietf:params:xml:ns:xmpp-sasl">cj0xMzM0NTI2NTExMzIxNzEwOTZjMDQwZGQ0LTNlYmUtNGI5Ny1hYTY5LWVjMGJkZmVkM2Y5NCxzPU5tSmxaalF5TXpRdFlqWTBNQzAwWlRFMExUazNPRGt0T0RFNVpqWmpObVEyWVRreixpPTQwOTY=</challenge>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <response xmlns="urn:ietf:params:xml:ns:xmpp-sasl">Yz1jRDEwYkhNdGRXNXBjWFZsTEN5R29zWGFtZy9QYVhlUFFVdFZGSVFYUms3UHJtSkIrU3RSMy9VOUlyTEN3dDgydWdYZU1QREt0Nm9xbWZ6d0Fidz0scj0xMzM0NTI2NTExMzIxNzEwOTZjMDQwZGQ0LTNlYmUtNGI5Ny1hYTY5LWVjMGJkZmVkM2Y5NCxwPWVNUVhmSGVNVForK0JTMitJNXpqRzVKeHBrND0=</response>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <success xmlns="urn:ietf:params:xml:ns:xmpp-sasl">dj05ZmRDUHZZU01BVmhUdFpiNFRhYmJ1a3g1VUE9</success>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: auth_success
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <stream:stream to='name_of_jabber_server' xmlns:stream='http://etherx.jabber.org/streams' xmlns='jabber:client' xml:lang='en' version='1.0'>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <stream:stream from="name_of_jabber_server" version="1.0" id="d09a2787-3b16-4a61-90ee-efbd05072b68" xml:lang="en">
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <stream:features xmlns="http://etherx.jabber.org/streams"><csi xmlns="urn:xmpp:csi:0" /><ver xmlns="urn:xmpp:features:rosterver" /><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><required /></bind><session xmlns="urn:ietf:params:xml:ns:xmpp-session"><optional /></session><c xmlns="http://jabber.org/protocol/caps" node="http://prosody.im" hash="sha-1" ver="bo+kiU1kofD8ctHhmFhCHkjk2Do=" /></stream:features>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.features.feature_rosterver.rosterver] Enabling roster versioning.
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.features.feature_bind.bind] Requesting resource: home-assistant
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <iq id="301db1ef2a3740b2aaa00179dc2a585d" type="set"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><resource>home-assistant</resource></bind></iq>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] RECV: <iq id="301db1ef2a3740b2aaa00179dc2a585d" type="result"><bind xmlns="urn:ietf:params:xml:ns:xmpp-bind"><jid>bolk30@name_of_jabber_server/home-assistant</jid></bind></iq>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: session_bind
2020-08-07 17:20:56 INFO (MainThread) [slixmpp.features.feature_bind.bind] JID set to: bolk30@name_of_jabber_server/home-assistant
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: session_start
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.clientxmpp] Finished processing stream features.
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: stream_negotiated
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: <message type="chat" to="user@name_of_jabber_server" id="a7f5720dc1db4a4aab6d081e952c9ab0" xml:lang="en"><origin-id xmlns="urn:xmpp:sid:0" id="a7f5720dc1db4a4aab6d081e952c9ab0" /><body>Home Assistant: test</body></message>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] SEND: </stream:stream>
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] End of stream received
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: killed
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: disconnected
2020-08-07 17:20:56 INFO (MainThread) [slixmpp.xmlstream.xmlstream] connection_lost: (None,)
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: disconnected
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Tried to cancel unscheduled event: Whitespace Keepalive
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Tried to cancel unscheduled event: Disconnect wait
2020-08-07 17:20:56 DEBUG (MainThread) [slixmpp.xmlstream.xmlstream] Event triggered: session_end
2020-08-07 17:21:00 ERROR (MainThread) [homeassistant] Error doing job: Task was destroyed but it is pending!

```

@fabaff do we close the connection in the wrong way? 
has `2020-08-07 17:21:00 ERROR (MainThread) [homeassistant] Error doing job: Task was destroyed but it is pending!` anything to do with XMPP? otherwise I don't see how this connects...

I have the same issue here when sending two xmpp notifications one after another inside an automation. 

Also the second message often does not arrive at the sender. Also tried using a hassio instance from an clean sd card setup with rpi4 with the same result. 

Also I sometimes get:
```
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/slixmpp/xmlstream/xmlstream.py", line 1007, in run_filters
    self.send_raw(str_data)
  File "/usr/local/lib/python3.8/site-packages/slixmpp/xmlstream/xmlstream.py", line 1043, in send_raw
    raise NotConnectedError()
slixmpp.xmlstream.xmlstream.NotConnectedError
```

From the slixmpp documentation for the disconnect function the args are as follows:
```
disconnect(self, wait: float = 2.0, reason: Union[str, NoneType] = None, ignore_send_queue: bool = False) -> None
    Close the XML stream and wait for an acknowldgement from the server for
    at most `wait` seconds.  After the given number of seconds has
    passed without a response from the server, or when the server
    successfully responds with a closure of its own stream, abort() is
    called. If wait is 0.0, this will call abort() directly without closing
    the stream.
```
From https://github.com/home-assistant/core/blob/dev/homeassistant/components/xmpp/notify.py
line 168:
```self.disconnect(wait=True)```
-> wait should be a float defining the time to wait if I get it right?


Also there is a hint here: https://slixmpp.readthedocs.io/getting_started/sendlogout.html
```
def start(self, event):
    self.send_presence()
    self.get_roster()
    self.send_message(mto=self.recipient, mbody=self.msg)
    self.disconnect()

Warning:
If you happen to be adding stanzas to the send queue faster than the send thread can process them, then disconnect() will block and not disconnect.
```
Maybe these are related?