The chinese version brother printer status is “ííêí¯ýó£” or “ð¥ó”

### The problem

![20240402211135](https://github.com/home-assistant/core/assets/28810052/97748ac5-67c5-49ff-ae52-c444ef8f2a6d)


### What version of Home Assistant Core has the issue?

core-2024.3.0

### What was the last working version of Home Assistant Core?

_No response_

### What type of installation are you running?

Home Assistant Container

### Integration causing the issue

brother 

### Link to integration documentation on our website

_No response_

### Diagnostics information

_No response_

### Example YAML snippet

_No response_

### Anything in the logs that might be useful for us?

_No response_

### Additional information

_No response_

I don't speak chinese, sorry, please explain what the issue is

My guess is that the characters were decoded incorrectly. As the integration does not deal with this, only the backend library, please open an issue [here](https://github.com/bieniu/brother/issues) with a detailed description of what is wrong. I don't know Chinese so I can't fix it without your help.

@bieniu can you give examples of these states? Would it be possible to use HA for localization?

The printer returns the state in the language that the user sets in its configuration so we are not able to translate these states in the integration. Examples of states for English are `sleeping`, `waiting`, `heating`, `printing`.

Ah that's a bummer! Good to know tho!

The status is displayed as “ííêí¯ýó£” or “ð¥ó” , as shown on the right side of the picture .

And how should it be displayed?

I hope it can display normal Chinese status or other readable text. I guess it may need to undergo encoding conversion after obtaining the original state.

Download diagnostic information ：


{
  "home_assistant": {
    "installation_type": "Home Assistant Container",
    "version": "2024.4.0",
    "dev": false,
    "hassio": false,
    "virtualenv": false,
    "python_version": "3.12.2",
    "docker": true,
    "arch": "aarch64",
    "timezone": "Asia/Shanghai",
    "os_name": "Linux",
    "os_version": "5.15.108-ophub",
    "run_as_root": true
  },
  "integration_manifest": {
    "domain": "brother",
    "name": "Brother Printer",
    "codeowners": [
      "@bieniu"
    ],
    "config_flow": true,
    "documentation": "https://www.home-assistant.io/integrations/brother",
    "integration_type": "device",
    "iot_class": "local_polling",
    "loggers": [
      "brother",
      "pyasn1",
      "pysmi",
      "pysnmp"
    ],
    "quality_scale": "platinum",
    "requirements": [
      "brother==4.0.2"
    ],
    "zeroconf": [
      {
        "type": "_printer._tcp.local.",
        "name": "brother*"
      }
    ],
    "is_built_in": true
  },
  "data": {
    "info": {
      "host": "192.168.0.6",
      "type": "laser"
    },
    "data": {
      "belt_unit_remaining_life": null,
      "belt_unit_remaining_pages": null,
      "black_counter": null,
      "black_drum_counter": null,
      "black_drum_remaining_life": null,
      "black_drum_remaining_pages": null,
      "black_ink_remaining": null,
      "black_ink_status": null,
      "black_ink": null,
      "black_toner_remaining": 77,
      "black_toner_status": 1,
      "black_toner": 80,
      "bw_counter": null,
      "color_counter": null,
      "cyan_counter": null,
      "cyan_drum_counter": null,
      "cyan_drum_remaining_life": null,
      "cyan_drum_remaining_pages": null,
      "cyan_ink_remaining": null,
      "cyan_ink_status": null,
      "cyan_ink": null,
      "cyan_toner_remaining": null,
      "cyan_toner_status": null,
      "cyan_toner": null,
      "drum_counter": 312,
      "drum_remaining_life": 97,
      "drum_remaining_pages": 9688,
      "drum_status": 1,
      "duplex_unit_pages_counter": null,
      "fuser_remaining_life": null,
      "fuser_unit_remaining_pages": null,
      "image_counter": null,
      "laser_remaining_life": null,
      "laser_unit_remaining_pages": null,
      "magenta_counter": null,
      "magenta_drum_counter": null,
      "magenta_drum_remaining_life": null,
      "magenta_drum_remaining_pages": null,
      "magenta_ink_remaining": null,
      "magenta_ink_status": null,
      "magenta_ink": null,
      "magenta_toner_remaining": null,
      "magenta_toner_status": null,
      "magenta_toner": null,
      "page_counter": 3914,
      "pf_kit_1_remaining_life": null,
      "pf_kit_1_remaining_pages": null,
      "pf_kit_mp_remaining_life": null,
      "pf_kit_mp_remaining_pages": null,
      "status": "\u00f0\u00a5\u0091\u00f3\u009c",
      "uptime": "2024-04-04T00:19:59+00:00",
      "yellow_counter": null,
      "yellow_drum_counter": null,
      "yellow_drum_remaining_life": null,
      "yellow_drum_remaining_pages": null,
      "yellow_ink_remaining": null,
      "yellow_ink_status": null,
      "yellow_ink": null,
      "yellow_toner_remaining": null,
      "yellow_toner_status": null,
      "yellow_toner": null
    },
    "model": "DCP-1618W",
    "firmware": "D1605021248"
  }
}

Please enable debugging for the `Brother` integration

![obraz](https://github.com/home-assistant/core/assets/478555/f298950e-2570-45f8-9057-4cb4975bb1c5)

After that you should find in the log something like this:

```
2024-04-05 11:41:19.711 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '5', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000ce3'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': '1.27', '1.3.6.1.2.1.2.2.1.6.1': 'a8:6b:ad:33:c0:9d', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000ce3', '41010400001c84', '31010400000001', '6f010400001838', '81010400000046', '8601040000000a'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP,URF;MDL:HL-L2340D series;CLS:PRINTER;CID:Brother Laser Type1;URF:W8,CP1,IS4-1,MT1-3-4-5-8,OB10,PQ4,RS300-600,V1.3,DM1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000021fd'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3299', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E73870A7N414876', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'OCZEKIWANIE     ', '1.3.6.1.2.1.1.3.0': '169408635'}
```

I need this log file and I need a "normal Chinese status", you can make a screenshot from the printer webpanel.

2024-04-04 23:50:09.100 DEBUG (MainThread) [brother] Initializing device 192.168.0.6
2024-04-04 23:50:09.342 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '106', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000f4a'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': 'D1605021248', '1.3.6.1.2.1.2.2.1.6.1': '44:1c:a8:6d:79:94', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000138', '410104000025e4', '31010400000001', '6f010400001e14', '81010400000050', '86010400000000'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP;MDL:DCP-1618W;CLS:PRINTER;CID:Brother Laser Type1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000025d8'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3914', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E74215G6N343948', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'ä¼\x91ç\x9c\xa0                ', '1.3.6.1.2.1.1.3.0': '5580970'}
2024-04-04 23:50:09.343 DEBUG (MainThread) [brother] Data: {'status': 'ð¥\x91ó\x9c', 'uptime': datetime.datetime(2024, 4, 4, 0, 19, 59, tzinfo=datetime.timezone.utc), 'page_counter': 3914, 'drum_status': 1, 'drum_counter': 312, 'drum_remaining_life': 97, 'black_toner_status': 1, 'black_toner_remaining': 77, 'black_toner': 80, 'drum_remaining_pages': 9688}
2024-04-04 23:50:09.344 DEBUG (MainThread) [homeassistant.components.brother] Finished fetching brother data in 0.071 seconds (success: True)
2024-04-04 23:50:39.297 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '106', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000f4a'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': 'D1605021248', '1.3.6.1.2.1.2.2.1.6.1': '44:1c:a8:6d:79:94', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000138', '410104000025e4', '31010400000001', '6f010400001e14', '81010400000050', '86010400000000'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP;MDL:DCP-1618W;CLS:PRINTER;CID:Brother Laser Type1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000025d8'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3914', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E74215G6N343948', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'ä¼\x91ç\x9c\xa0                ', '1.3.6.1.2.1.1.3.0': '5583975'}
2024-04-04 23:50:39.297 DEBUG (MainThread) [brother] Data: {'status': 'ð¥\x91ó\x9c', 'uptime': datetime.datetime(2024, 4, 4, 0, 19, 59, tzinfo=datetime.timezone.utc), 'page_counter': 3914, 'drum_status': 1, 'drum_counter': 312, 'drum_remaining_life': 97, 'black_toner_status': 1, 'black_toner_remaining': 77, 'black_toner': 80, 'drum_remaining_pages': 9688}
2024-04-04 23:50:39.298 DEBUG (MainThread) [homeassistant.components.brother] Finished fetching brother data in 0.072 seconds (success: True)
2024-04-04 23:51:09.366 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '106', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000f4a'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': 'D1605021248', '1.3.6.1.2.1.2.2.1.6.1': '44:1c:a8:6d:79:94', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000138', '410104000025e4', '31010400000001', '6f010400001e14', '81010400000050', '86010400000000'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP;MDL:DCP-1618W;CLS:PRINTER;CID:Brother Laser Type1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000025d8'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3914', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E74215G6N343948', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'ä¼\x91ç\x9c\xa0                ', '1.3.6.1.2.1.1.3.0': '5586980'}
2024-04-04 23:51:09.367 DEBUG (MainThread) [brother] Data: {'status': 'ð¥\x91ó\x9c', 'uptime': datetime.datetime(2024, 4, 4, 0, 19, 59, tzinfo=datetime.timezone.utc), 'page_counter': 3914, 'drum_status': 1, 'drum_counter': 312, 'drum_remaining_life': 97, 'black_toner_status': 1, 'black_toner_remaining': 77, 'black_toner': 80, 'drum_remaining_pages': 9688}
2024-04-04 23:51:09.368 DEBUG (MainThread) [homeassistant.components.brother] Finished fetching brother data in 0.141 seconds (success: True)
202
2024-04-05 08:27:19.297 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '106', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000f4a'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': 'D1605021248', '1.3.6.1.2.1.2.2.1.6.1': '44:1c:a8:6d:79:94', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000138', '410104000025e4', '31010400000001', '6f010400001e14', '81010400000050', '86010400000000'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP;MDL:DCP-1618W;CLS:PRINTER;CID:Brother Laser Type1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000025d8'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3914', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E74215G6N343948', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'è¯·ç\xad\x89å¾\x85              ', '1.3.6.1.2.1.1.3.0': '125'}
2024-04-05 08:27:19.323 DEBUG (MainThread) [brother] Data: {'status': 'ò₤ñóù\x89íƒ', 'uptime': datetime.datetime(2024, 4, 5, 0, 27, 18, tzinfo=datetime.timezone.utc), 'page_counter': 3914, 'drum_status': 1, 'drum_counter': 312, 'drum_remaining_life': 97, 'black_toner_status': 1, 'black_toner_remaining': 77, 'black_toner': 80, 'drum_remaining_pages': 9688}
2024-04-05 08:27:19.324 INFO (MainThread) [homeassistant.components.brother] Fetching brother data recovered
2024-04-05 08:27:19.324 DEBUG (MainThread) [homeassistant.components.brother] Finished fetching brother data in 4.013 seconds (success: True)
2024-04-05 08:27:34.336 WARNING (MainThread) [androidtv.adb_manager.adb_manager_async] Couldn't connect to 192.168.0.100:5555.  TcpTimeoutException: Connecting to 192.168.0.100:5555 timed out (1.0 seconds)
2024-04-05 08:27:49.381 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '106', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000f4a'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': 'D1605021248', '1.3.6.1.2.1.2.2.1.6.1': '44:1c:a8:6d:79:94', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000138', '410104000025e4', '31010400000001', '6f010400001e14', '81010400000050', '86010400000000'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP;MDL:DCP-1618W;CLS:PRINTER;CID:Brother Laser Type1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000025d8'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3914', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E74215G6N343948', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'å\x87\x86å¤\x87å°±ç»ª            ', '1.3.6.1.2.1.1.3.0': '3155'}
2024-04-05 08:27:49.381 DEBUG (MainThread) [brother] Data: {'status': 'í\x87\x86íê\x87í¯ýó£ˆ', 'uptime': datetime.datetime(2024, 4, 5, 0, 27, 18, tzinfo=datetime.timezone.utc), 'page_counter': 3914, 'drum_status': 1, 'drum_counter': 312, 'drum_remaining_life': 97, 'black_toner_status': 1, 'black_toner_remaining': 77, 'black_toner': 80, 'drum_remaining_pages': 9688}
2024-04-05 08:27:49.382 DEBUG (MainThread) [homeassistant.components.brother] Finished fetching brother data in 0.073 seconds (success: True)
2024-04-05 08:28:19.388 DEBUG (MainThread) [brother] RAW data: {'1.3.6.1.2.1.43.7.1.1.4.1.1': '106', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.10.0': ['00010400000f4a'], '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.17.0': 'D1605021248', '1.3.6.1.2.1.2.2.1.6.1': '44:1c:a8:6d:79:94', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.8.0': ['63010400000001', '11010400000138', '410104000025e4', '31010400000001', '6f010400001e14', '81010400000050', '86010400000000'], '1.3.6.1.4.1.2435.2.3.9.1.1.7.0': 'MFG:Brother;CMD:PJL,HBP;MDL:DCP-1618W;CLS:PRINTER;CID:Brother Laser Type1;', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.11.0': ['820104000025d8'], '1.3.6.1.2.1.43.10.2.1.4.1.1': '3914', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.5.1.0': 'E74215G6N343948', '1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0': 'ä¼\x91ç\x9c\xa0                ', '1.3.6.1.2.1.1.3.0': '6150'}
2024-04-05 08:28:19.389 DEBUG (MainThread) [brother] Data: {'status': 'ð¥\x91ó\x9c', 'uptime': datetime.datetime(2024, 4, 5, 0, 27, 18, tzinfo=datetime.timezone.utc), 'page_counter': 3914, 'drum_status': 1, 'drum_counter': 312, 'drum_remaining_life': 97, 'black_toner_status': 1, 'black_toner_remaining': 77, 'black_toner': 80, 'drum_remaining_pages': 9688}
2024-04-05 08:28:19.390 DEBUG (MainThread) [homeassistant.components.brother] Finished fetching brother data in 0.080 seconds (success: True)


![obraz](https://github.com/home-assistant/core/assets/478555/8adb908e-b258-4ff3-ac2a-811799888e37)


Could you please show me a response for this command:
```
snmpget -v1 -c public <BROTHER_IP_ADDRESS> 1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0
```
Probably you need to install `net-snmp-utils` first
```
sudo apt install net-snmp-utils
```

sleeping
-----------------------------------------------
root@llgxdnn:~# snmpget -v1 -c public 192.168.0.6 1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0
iso.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0 = Hex-STRING: E4 BC 91 E7 9C A0 20 20 20 20 20 20 20 20 20 20 
20 20 20 20 20 20 

waiting
---------------------------------------------------
root@llgxdnn:~# snmpget -v1 -c public 192.168.0.6 1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0
iso.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0 = Hex-STRING: E8 AF B7 E7 AD 89 E5 BE 85 20 20 20 20 20 20 20 
20 20 20 20 20 20 20 
root@llgxdnn:~# snmpget -v1 -c public 192.168.0.6 1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0
iso.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0 = Hex-STRING: E8 AF B7 E7 AD 89 E5 BE 85 20 20 20 20 20 20 20 
20 20 20 20 20 20 20 

ready  or printing
--------------------------------------------------------
root@llgxdnn:~# snmpget -v1 -c public 192.168.0.6 1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0
iso.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0 = Hex-STRING: E5 87 86 E5 A4 87 E5 B0 B1 E7 BB AA 20 20 20 20 
20 20 20 20 20 20 20 20 
root@llgxdnn:~# snmpget -v1 -c public 192.168.0.6 1.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0
iso.3.6.1.4.1.2435.2.3.9.4.2.1.5.4.5.2.0 = Hex-STRING: E5 87 86 E5 A4 87 E5 B0 B1 E7 BB AA 20 20 20 20 
20 20 20 20 20 20 20 20 


hex_string = "E8 AF B7 E7 AD 89 E5 BE 85 20 20 20 20 20 20 20 20 20 20 20 20 20 20"  
binary_data = bytes.fromhex(' '.join(hex_string.split()).replace(' ', ''))  
decoded_string = binary_data.decode('utf-8')  
print(decoded_string)

> > ready or printing
> 
> Does this look good?
> 
> ![obraz](https://private-user-images.githubusercontent.com/478555/320007018-47ced42d-1497-4daf-9370-7beb94fa12c7.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTIzMjUzOTQsIm5iZiI6MTcxMjMyNTA5NCwicGF0aCI6Ii80Nzg1NTUvMzIwMDA3MDE4LTQ3Y2VkNDJkLTE0OTctNGRhZi05MzcwLTdiZWI5NGZhMTJjNy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNDA1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDQwNVQxMzUxMzRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT0yYWVhNDA4ZTMxNzliNWU0MDVjMmQ2YzU0OWFiZDRmNjc1NjQyYWUwNmMyODlhZGEyZDY1ZjBkYThjZmI4YTgzJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.YcPpFPwfxLO09yOgQfu15YjCvl88bH7wLv0CfW8DLy8)

**Yes,it's OK  !   Thank you very much !!!**

You can remove extra space characters.

~/Desktop$ snmpwalk -v1 -c public 192.168.0.6 
-----------------------------------------------------------


iso.3.6.1.2.1.1.1.0 = STRING: "Brother NC-8400w, Firmware Ver.D  ,MID 8C5-G02,FID 2"
iso.3.6.1.2.1.1.2.0 = OID: iso.3.6.1.4.1.2435.2.3.9.1
iso.3.6.1.2.1.1.3.0 = Timeticks: (4595100) 12:45:51.00
iso.3.6.1.2.1.1.4.0 = ""
iso.3.6.1.2.1.1.5.0 = STRING: "BRW441CA86D7994"
iso.3.6.1.2.1.1.6.0 = ""
iso.3.6.1.2.1.1.7.0 = INTEGER: 72
iso.3.6.1.2.1.1.8.0 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.1.9.1.2.1 = OID: iso.3.6.1.6.3.1
iso.3.6.1.2.1.1.9.1.2.2 = OID: iso.3.6.1.6.3.10.3.1.1
iso.3.6.1.2.1.1.9.1.2.3 = OID: iso.3.6.1.6.3.11.3.1.1
iso.3.6.1.2.1.1.9.1.2.4 = OID: iso.3.6.1.6.3.15.2.1.1
iso.3.6.1.2.1.1.9.1.2.5 = OID: iso.3.6.1.6.3.16.2.1.1
iso.3.6.1.2.1.1.9.1.3.1 = STRING: "The MIB Module from SNMPv2 entities"
iso.3.6.1.2.1.1.9.1.3.2 = STRING: "SNMP Management Architecture MIB"
iso.3.6.1.2.1.1.9.1.3.3 = STRING: "Message Processing and Dispatching MIB"
iso.3.6.1.2.1.1.9.1.3.4 = STRING: "USM User MIB"
iso.3.6.1.2.1.1.9.1.3.5 = STRING: "VACM MIB"
iso.3.6.1.2.1.1.9.1.4.1 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.1.9.1.4.2 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.1.9.1.4.3 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.1.9.1.4.4 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.1.9.1.4.5 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.2.1.0 = INTEGER: 2
iso.3.6.1.2.1.2.2.1.1.1 = INTEGER: 1
iso.3.6.1.2.1.2.2.1.1.2 = INTEGER: 2
iso.3.6.1.2.1.2.2.1.2.1 = STRING: "NC-8400w"
iso.3.6.1.2.1.2.2.1.2.2 = STRING: "SoftwareLoopBack"
iso.3.6.1.2.1.2.2.1.3.1 = INTEGER: 7
iso.3.6.1.2.1.2.2.1.3.2 = INTEGER: 24
iso.3.6.1.2.1.2.2.1.4.1 = INTEGER: 1500
iso.3.6.1.2.1.2.2.1.4.2 = INTEGER: 1500
iso.3.6.1.2.1.2.2.1.5.1 = Gauge32: 72000000
iso.3.6.1.2.1.2.2.1.5.2 = Gauge32: 0
iso.3.6.1.2.1.2.2.1.6.1 = Hex-STRING: 44 1C A8 6D 79 94 
iso.3.6.1.2.1.2.2.1.6.2 = ""
iso.3.6.1.2.1.2.2.1.7.1 = INTEGER: 1
iso.3.6.1.2.1.2.2.1.7.2 = INTEGER: 1
iso.3.6.1.2.1.2.2.1.8.1 = INTEGER: 1
iso.3.6.1.2.1.2.2.1.8.2 = INTEGER: 1
iso.3.6.1.2.1.2.2.1.9.1 = Timeticks: (4567980) 12:41:19.80
iso.3.6.1.2.1.2.2.1.9.2 = Timeticks: (0) 0:00:00.00
iso.3.6.1.2.1.2.2.1.10.1 = Counter32: 36763474
iso.3.6.1.2.1.2.2.1.10.2 = Counter32: 1600
iso.3.6.1.2.1.2.2.1.11.1 = Counter32: 71978
iso.3.6.1.2.1.2.2.1.11.2 = Counter32: 48
iso.3.6.1.2.1.2.2.1.12.1 = Counter32: 6113266
iso.3.6.1.2.1.2.2.1.12.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.13.1 = Counter32: 0
iso.3.6.1.2.1.2.2.1.13.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.14.1 = Counter32: 0
iso.3.6.1.2.1.2.2.1.14.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.15.1 = Counter32: 13
iso.3.6.1.2.1.2.2.1.15.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.16.1 = Counter32: 6258891
iso.3.6.1.2.1.2.2.1.16.2 = Counter32: 1600
iso.3.6.1.2.1.2.2.1.17.1 = Counter32: 54789
iso.3.6.1.2.1.2.2.1.17.2 = Counter32: 48
iso.3.6.1.2.1.2.2.1.18.1 = Counter32: 17182
iso.3.6.1.2.1.2.2.1.18.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.19.1 = Counter32: 4
iso.3.6.1.2.1.2.2.1.19.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.20.1 = Counter32: 19
iso.3.6.1.2.1.2.2.1.20.2 = Counter32: 0
iso.3.6.1.2.1.2.2.1.21.1 = Gauge32: 0
iso.3.6.1.2.1.2.2.1.21.2 = Gauge32: 0
iso.3.6.1.2.1.2.2.1.22.1 = OID: ccitt.0
iso.3.6.1.2.1.2.2.1.22.2 = OID: ccitt.0
iso.3.6.1.2.1.3.1.1.1.2.1.192.168.0.3 = INTEGER: 2
iso.3.6.1.2.1.3.1.1.1.2.1.192.168.0.50 = INTEGER: 2
iso.3.6.1.2.1.3.1.1.1.2.1.192.168.0.250 = INTEGER: 2
iso.3.6.1.2.1.3.1.1.2.2.1.192.168.0.3 = Hex-STRING: 74 05 A5 AB CF C0 
iso.3.6.1.2.1.3.1.1.2.2.1.192.168.0.50 = Hex-STRING: 84 7B 57 47 58 0B 
iso.3.6.1.2.1.3.1.1.2.2.1.192.168.0.250 = Hex-STRING: AC BB 61 E5 FE F8 
iso.3.6.1.2.1.3.1.1.3.2.1.192.168.0.3 = IpAddress: 192.168.0.3
iso.3.6.1.2.1.3.1.1.3.2.1.192.168.0.50 = IpAddress: 192.168.0.50
iso.3.6.1.2.1.3.1.1.3.2.1.192.168.0.250 = IpAddress: 192.168.0.250
iso.3.6.1.2.1.4.1.0 = INTEGER: 2
iso.3.6.1.2.1.4.2.0 = INTEGER: 64
iso.3.6.1.2.1.4.3.0 = Counter32: 117364
iso.3.6.1.2.1.4.4.0 = Counter32: 0
iso.3.6.1.2.1.4.5.0 = Counter32: 3
iso.3.6.1.2.1.4.6.0 = Counter32: 0
iso.3.6.1.2.1.4.7.0 = Counter32: 0
iso.3.6.1.2.1.4.8.0 = Counter32: 0
iso.3.6.1.2.1.4.9.0 = Counter32: 117367
iso.3.6.1.2.1.4.10.0 = Counter32: 55564
iso.3.6.1.2.1.4.11.0 = Counter32: 0
iso.3.6.1.2.1.4.12.0 = Counter32: 0
iso.3.6.1.2.1.4.13.0 = INTEGER: 64
iso.3.6.1.2.1.4.14.0 = Counter32: 0
iso.3.6.1.2.1.4.15.0 = Counter32: 0
iso.3.6.1.2.1.4.16.0 = Counter32: 0
iso.3.6.1.2.1.4.17.0 = Counter32: 0
iso.3.6.1.2.1.4.18.0 = Counter32: 0
iso.3.6.1.2.1.4.19.0 = Counter32: 0
iso.3.6.1.2.1.4.20.1.1.192.168.0.6 = IpAddress: 192.168.0.6
iso.3.6.1.2.1.4.20.1.2.192.168.0.6 = INTEGER: 1
iso.3.6.1.2.1.4.20.1.3.192.168.0.6 = IpAddress: 255.255.255.0
iso.3.6.1.2.1.4.20.1.4.192.168.0.6 = INTEGER: 1
iso.3.6.1.2.1.4.20.1.5.192.168.0.6 = INTEGER: 1500
iso.3.6.1.2.1.4.21.1.1.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.4.21.1.1.127.0.0.1 = IpAddress: 127.0.0.1
iso.3.6.1.2.1.4.21.1.1.169.254.0.0 = IpAddress: 169.254.0.0
iso.3.6.1.2.1.4.21.1.1.192.168.0.0 = IpAddress: 192.168.0.0
iso.3.6.1.2.1.4.21.1.2.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.2.127.0.0.1 = INTEGER: 1
iso.3.6.1.2.1.4.21.1.2.169.254.0.0 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.2.192.168.0.0 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.3.0.0.0.0 = INTEGER: 1
iso.3.6.1.2.1.4.21.1.3.127.0.0.1 = INTEGER: 0
iso.3.6.1.2.1.4.21.1.3.169.254.0.0 = INTEGER: 1
iso.3.6.1.2.1.4.21.1.3.192.168.0.0 = INTEGER: 0
iso.3.6.1.2.1.4.21.1.4.0.0.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.4.127.0.0.1 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.4.169.254.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.4.192.168.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.5.0.0.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.5.127.0.0.1 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.5.169.254.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.5.192.168.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.6.0.0.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.6.127.0.0.1 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.6.169.254.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.6.192.168.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.7.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.4.21.1.7.127.0.0.1 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.4.21.1.7.169.254.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.4.21.1.7.192.168.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.4.21.1.8.0.0.0.0 = INTEGER: 4
iso.3.6.1.2.1.4.21.1.8.127.0.0.1 = INTEGER: 3
iso.3.6.1.2.1.4.21.1.8.169.254.0.0 = INTEGER: 4
iso.3.6.1.2.1.4.21.1.8.192.168.0.0 = INTEGER: 3
iso.3.6.1.2.1.4.21.1.9.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.9.127.0.0.1 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.9.169.254.0.0 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.9.192.168.0.0 = INTEGER: 2
iso.3.6.1.2.1.4.21.1.10.0.0.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.10.127.0.0.1 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.10.169.254.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.10.192.168.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.11.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.4.21.1.11.127.0.0.1 = IpAddress: 255.255.255.255
iso.3.6.1.2.1.4.21.1.11.169.254.0.0 = IpAddress: 255.255.0.0
iso.3.6.1.2.1.4.21.1.11.192.168.0.0 = IpAddress: 255.255.255.0
iso.3.6.1.2.1.4.21.1.12.0.0.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.12.127.0.0.1 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.12.169.254.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.12.192.168.0.0 = INTEGER: -1
iso.3.6.1.2.1.4.21.1.13.0.0.0.0 = OID: ccitt.0
iso.3.6.1.2.1.4.21.1.13.127.0.0.1 = OID: ccitt.0
iso.3.6.1.2.1.4.21.1.13.169.254.0.0 = OID: ccitt.0
iso.3.6.1.2.1.4.21.1.13.192.168.0.0 = OID: ccitt.0
iso.3.6.1.2.1.4.22.1.1.2.192.168.0.3 = INTEGER: 2
iso.3.6.1.2.1.4.22.1.1.2.192.168.0.50 = INTEGER: 2
iso.3.6.1.2.1.4.22.1.1.2.192.168.0.250 = INTEGER: 2
iso.3.6.1.2.1.4.22.1.2.2.192.168.0.3 = Hex-STRING: 74 05 A5 AB CF C0 
iso.3.6.1.2.1.4.22.1.2.2.192.168.0.50 = Hex-STRING: 84 7B 57 47 58 0B 
iso.3.6.1.2.1.4.22.1.2.2.192.168.0.250 = Hex-STRING: AC BB 61 E5 FE F8 
iso.3.6.1.2.1.4.22.1.3.2.192.168.0.3 = IpAddress: 192.168.0.3
iso.3.6.1.2.1.4.22.1.3.2.192.168.0.50 = IpAddress: 192.168.0.50
iso.3.6.1.2.1.4.22.1.3.2.192.168.0.250 = IpAddress: 192.168.0.250
iso.3.6.1.2.1.4.22.1.4.2.192.168.0.3 = INTEGER: 3
iso.3.6.1.2.1.4.22.1.4.2.192.168.0.50 = INTEGER: 3
iso.3.6.1.2.1.4.22.1.4.2.192.168.0.250 = INTEGER: 3
iso.3.6.1.2.1.4.23.0 = Counter32: 0
iso.3.6.1.2.1.5.1.0 = Counter32: 2
iso.3.6.1.2.1.5.2.0 = Counter32: 0
iso.3.6.1.2.1.5.3.0 = Counter32: 2
iso.3.6.1.2.1.5.4.0 = Counter32: 0
iso.3.6.1.2.1.5.5.0 = Counter32: 0
iso.3.6.1.2.1.5.6.0 = Counter32: 0
iso.3.6.1.2.1.5.7.0 = Counter32: 0
iso.3.6.1.2.1.5.8.0 = Counter32: 0
iso.3.6.1.2.1.5.9.0 = Counter32: 0
iso.3.6.1.2.1.5.10.0 = Counter32: 0
iso.3.6.1.2.1.5.11.0 = Counter32: 0
iso.3.6.1.2.1.5.12.0 = Counter32: 0
iso.3.6.1.2.1.5.13.0 = Counter32: 0
iso.3.6.1.2.1.5.14.0 = Counter32: 3
iso.3.6.1.2.1.5.15.0 = Counter32: 0
iso.3.6.1.2.1.5.16.0 = Counter32: 3
iso.3.6.1.2.1.5.17.0 = Counter32: 0
iso.3.6.1.2.1.5.18.0 = Counter32: 0
iso.3.6.1.2.1.5.19.0 = Counter32: 0
iso.3.6.1.2.1.5.20.0 = Counter32: 0
iso.3.6.1.2.1.5.21.0 = Counter32: 0
iso.3.6.1.2.1.5.22.0 = Counter32: 0
iso.3.6.1.2.1.5.23.0 = Counter32: 0
iso.3.6.1.2.1.5.24.0 = Counter32: 0
iso.3.6.1.2.1.5.25.0 = Counter32: 0
iso.3.6.1.2.1.5.26.0 = Counter32: 0
iso.3.6.1.2.1.6.1.0 = INTEGER: 4
iso.3.6.1.2.1.6.2.0 = INTEGER: 1000
iso.3.6.1.2.1.6.3.0 = INTEGER: 60000
iso.3.6.1.2.1.6.4.0 = INTEGER: 128
iso.3.6.1.2.1.6.5.0 = Counter32: 66
iso.3.6.1.2.1.6.6.0 = Counter32: 3275
iso.3.6.1.2.1.6.7.0 = Counter32: 2360
iso.3.6.1.2.1.6.8.0 = Counter32: 1
iso.3.6.1.2.1.6.9.0 = Gauge32: 0
iso.3.6.1.2.1.6.10.0 = Counter32: 67159
iso.3.6.1.2.1.6.11.0 = Counter32: 51729
iso.3.6.1.2.1.6.12.0 = Counter32: 35
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.21.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.23.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.80.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.515.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.631.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.9100.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.1.0.0.0.0.54921.0.0.0.0.0 = INTEGER: 2
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.21.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.23.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.80.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.515.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.631.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.9100.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.2.0.0.0.0.54921.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.21.0.0.0.0.0 = INTEGER: 21
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.23.0.0.0.0.0 = INTEGER: 23
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.80.0.0.0.0.0 = INTEGER: 80
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.515.0.0.0.0.0 = INTEGER: 515
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.631.0.0.0.0.0 = INTEGER: 631
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.9100.0.0.0.0.0 = INTEGER: 9100
iso.3.6.1.2.1.6.13.1.3.0.0.0.0.54921.0.0.0.0.0 = INTEGER: 54921
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.21.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.23.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.80.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.515.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.631.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.9100.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.4.0.0.0.0.54921.0.0.0.0.0 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.21.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.23.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.80.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.515.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.631.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.9100.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.13.1.5.0.0.0.0.54921.0.0.0.0.0 = INTEGER: 0
iso.3.6.1.2.1.6.14.0 = Counter32: 0
iso.3.6.1.2.1.6.15.0 = Counter32: 36076
iso.3.6.1.2.1.7.1.0 = Counter32: 32416
iso.3.6.1.2.1.7.2.0 = Counter32: 38543
iso.3.6.1.2.1.7.3.0 = Counter32: 0
iso.3.6.1.2.1.7.4.0 = Counter32: 3831
iso.3.6.1.2.1.7.5.1.1.0.0.0.0.69 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.7.5.1.1.0.0.0.0.137 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.7.5.1.1.0.0.0.0.3702 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.7.5.1.1.0.0.0.0.5353 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.7.5.1.1.0.0.0.0.39145 = IpAddress: 0.0.0.0
iso.3.6.1.2.1.7.5.1.1.127.0.0.1.1011 = IpAddress: 127.0.0.1
iso.3.6.1.2.1.7.5.1.1.127.0.0.1.1012 = IpAddress: 127.0.0.1
iso.3.6.1.2.1.7.5.1.1.127.0.0.1.42253 = IpAddress: 127.0.0.1
iso.3.6.1.2.1.7.5.1.1.127.0.0.1.44745 = IpAddress: 127.0.0.1
iso.3.6.1.2.1.7.5.1.1.127.0.0.1.51738 = IpAddress: 127.0.0.1
iso.3.6.1.2.1.7.5.1.2.0.0.0.0.69 = INTEGER: 69
iso.3.6.1.2.1.7.5.1.2.0.0.0.0.137 = INTEGER: 137
iso.3.6.1.2.1.7.5.1.2.0.0.0.0.3702 = INTEGER: 3702
iso.3.6.1.2.1.7.5.1.2.0.0.0.0.5353 = INTEGER: 5353
iso.3.6.1.2.1.7.5.1.2.0.0.0.0.39145 = INTEGER: 39145
iso.3.6.1.2.1.7.5.1.2.127.0.0.1.1011 = INTEGER: 1011
iso.3.6.1.2.1.7.5.1.2.127.0.0.1.1012 = INTEGER: 1012
iso.3.6.1.2.1.7.5.1.2.127.0.0.1.42253 = INTEGER: 42253
iso.3.6.1.2.1.7.5.1.2.127.0.0.1.44745 = INTEGER: 44745
iso.3.6.1.2.1.7.5.1.2.127.0.0.1.51738 = INTEGER: 51738
iso.3.6.1.2.1.11.1.0 = Counter32: 3016
iso.3.6.1.2.1.11.2.0 = Counter32: 3016
iso.3.6.1.2.1.11.3.0 = Counter32: 0
iso.3.6.1.2.1.11.4.0 = Counter32: 0
iso.3.6.1.2.1.11.5.0 = Counter32: 0
iso.3.6.1.2.1.11.6.0 = Counter32: 0
iso.3.6.1.2.1.11.8.0 = Counter32: 0
iso.3.6.1.2.1.11.9.0 = Counter32: 0
iso.3.6.1.2.1.11.10.0 = Counter32: 0
iso.3.6.1.2.1.11.11.0 = Counter32: 0
iso.3.6.1.2.1.11.12.0 = Counter32: 0
iso.3.6.1.2.1.11.13.0 = Counter32: 18526
iso.3.6.1.2.1.11.14.0 = Counter32: 0
iso.3.6.1.2.1.11.15.0 = Counter32: 1656
iso.3.6.1.2.1.11.16.0 = Counter32: 1374
iso.3.6.1.2.1.11.17.0 = Counter32: 0
iso.3.6.1.2.1.11.18.0 = Counter32: 0
iso.3.6.1.2.1.11.19.0 = Counter32: 0
iso.3.6.1.2.1.11.20.0 = Counter32: 0
iso.3.6.1.2.1.11.21.0 = Counter32: 0
iso.3.6.1.2.1.11.22.0 = Counter32: 0
iso.3.6.1.2.1.11.24.0 = Counter32: 0
iso.3.6.1.2.1.11.25.0 = Counter32: 0
iso.3.6.1.2.1.11.26.0 = Counter32: 0
iso.3.6.1.2.1.11.27.0 = Counter32: 0
iso.3.6.1.2.1.11.28.0 = Counter32: 3040
iso.3.6.1.2.1.11.29.0 = Counter32: 0
iso.3.6.1.2.1.11.30.0 = INTEGER: 1
iso.3.6.1.2.1.11.31.0 = Counter32: 0
iso.3.6.1.2.1.11.32.0 = Counter32: 0
iso.3.6.1.2.1.25.1.1.0 = Timeticks: (4565589) 12:40:55.89
iso.3.6.1.2.1.25.1.2.0 = Hex-STRING: 07 D0 01 01 00 00 00 00 
iso.3.6.1.2.1.25.1.3.0 = INTEGER: 1
iso.3.6.1.2.1.25.1.4.0 = Hex-STRING: 00 
iso.3.6.1.2.1.25.1.5.0 = Gauge32: 1
iso.3.6.1.2.1.25.1.6.0 = Gauge32: 1
iso.3.6.1.2.1.25.1.7.0 = INTEGER: 1
iso.3.6.1.2.1.25.2.2.0 = INTEGER: 32768
iso.3.6.1.2.1.25.2.3.1.1.1 = INTEGER: 1
iso.3.6.1.2.1.25.2.3.1.2.1 = OID: iso.3.6.1.2.1.25.2.1.2
iso.3.6.1.2.1.25.2.3.1.3.1 = STRING: "Random Access Memory"
iso.3.6.1.2.1.25.2.3.1.4.1 = INTEGER: 1
iso.3.6.1.2.1.25.2.3.1.5.1 = INTEGER: 33554432
iso.3.6.1.2.1.25.2.3.1.6.1 = INTEGER: 20048
iso.3.6.1.2.1.25.2.3.1.7.1 = Counter32: 0
iso.3.6.1.2.1.25.3.2.1.1.1 = INTEGER: 1
iso.3.6.1.2.1.25.3.2.1.2.1 = OID: iso.3.6.1.2.1.25.3.1.5
iso.3.6.1.2.1.25.3.2.1.3.1 = STRING: "Brother DCP-1618W"
iso.3.6.1.2.1.25.3.2.1.4.1 = OID: ccitt.0
iso.3.6.1.2.1.25.3.2.1.5.1 = INTEGER: 2
iso.3.6.1.2.1.25.3.2.1.6.1 = Counter32: 0
iso.3.6.1.2.1.25.3.5.1.1.1 = INTEGER: 3
iso.3.6.1.2.1.25.3.5.1.2.1 = Hex-STRING: 00 
iso.3.6.1.2.1.43.5.1.1.1.1 = Counter32: 0
iso.3.6.1.2.1.43.5.1.1.2.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.1.1.3.1 = INTEGER: 3
iso.3.6.1.2.1.43.5.1.1.4.1 = ""
iso.3.6.1.2.1.43.5.1.1.5.1 = ""
iso.3.6.1.2.1.43.5.1.1.6.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.1.1.7.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.1.1.8.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.1.1.9.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.1.1.10.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.1.1.11.1 = INTEGER: 0
iso.3.6.1.2.1.43.5.1.1.12.1 = INTEGER: 0
iso.3.6.1.2.1.43.5.1.1.13.1 = INTEGER: 3
iso.3.6.1.2.1.43.5.1.1.17.1 = STRING: "E74215G6N343948"
iso.3.6.1.2.1.43.5.2.1.2.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.5.3.1.2.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.6.1.1.2.1.1 = STRING: "PrinterCover"
iso.3.6.1.2.1.43.6.1.1.3.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.7.1.1.2.1.1 = STRING: "zh"
iso.3.6.1.2.1.43.7.1.1.2.1.2 = STRING: "en"
iso.3.6.1.2.1.43.7.1.1.3.1.1 = STRING: "CN"
iso.3.6.1.2.1.43.7.1.1.3.1.2 = STRING: "CN"
iso.3.6.1.2.1.43.7.1.1.4.1.1 = INTEGER: 106
iso.3.6.1.2.1.43.7.1.1.4.1.2 = INTEGER: 106
iso.3.6.1.2.1.43.8.2.1.2.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.8.2.1.3.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.8.2.1.4.1.1 = INTEGER: 296926
iso.3.6.1.2.1.43.8.2.1.5.1.1 = INTEGER: 209973
iso.3.6.1.2.1.43.8.2.1.6.1.1 = INTEGER: 296926
iso.3.6.1.2.1.43.8.2.1.7.1.1 = INTEGER: 209973
iso.3.6.1.2.1.43.8.2.1.8.1.1 = INTEGER: 8
iso.3.6.1.2.1.43.8.2.1.9.1.1 = INTEGER: 150
iso.3.6.1.2.1.43.8.2.1.10.1.1 = INTEGER: -3
iso.3.6.1.2.1.43.8.2.1.11.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.8.2.1.12.1.1 = STRING: "REGULAR"
iso.3.6.1.2.1.43.8.2.1.13.1.1 = STRING: "TRAY1"
iso.3.6.1.2.1.43.8.2.1.14.1.1 = STRING: "Brother"
iso.3.6.1.2.1.43.8.2.1.15.1.1 = ""
iso.3.6.1.2.1.43.8.2.1.16.1.1 = ""
iso.3.6.1.2.1.43.8.2.1.17.1.1 = ""
iso.3.6.1.2.1.43.8.2.1.18.1.1 = STRING: "TRAY1"
iso.3.6.1.2.1.43.8.2.1.19.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.8.2.1.20.1.1 = INTEGER: -2
iso.3.6.1.2.1.43.8.2.1.21.1.1 = STRING: "Unknown"
iso.3.6.1.2.1.43.8.2.1.22.1.1 = STRING: "Unknown"
iso.3.6.1.2.1.43.8.2.1.23.1.1 = INTEGER: -2
iso.3.6.1.2.1.43.9.2.1.2.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.9.2.1.3.1.1 = INTEGER: 8
iso.3.6.1.2.1.43.9.2.1.4.1.1 = INTEGER: 50
iso.3.6.1.2.1.43.9.2.1.5.1.1 = INTEGER: -2
iso.3.6.1.2.1.43.9.2.1.6.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.9.2.1.7.1.1 = STRING: "Standard Output Tray"
iso.3.6.1.2.1.43.9.2.1.8.1.1 = STRING: "Brother"
iso.3.6.1.2.1.43.9.2.1.9.1.1 = ""
iso.3.6.1.2.1.43.9.2.1.10.1.1 = ""
iso.3.6.1.2.1.43.9.2.1.11.1.1 = ""
iso.3.6.1.2.1.43.9.2.1.12.1.1 = STRING: "STANDARD OUTBIN"
iso.3.6.1.2.1.43.9.2.1.13.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.9.2.1.14.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.9.2.1.15.1.1 = INTEGER: 355600
iso.3.6.1.2.1.43.9.2.1.16.1.1 = INTEGER: 215900
iso.3.6.1.2.1.43.9.2.1.17.1.1 = INTEGER: 127000
iso.3.6.1.2.1.43.9.2.1.18.1.1 = INTEGER: 76200
iso.3.6.1.2.1.43.9.2.1.19.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.9.2.1.20.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.9.2.1.21.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.9.2.1.22.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.9.2.1.23.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.9.2.1.24.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.10.2.1.2.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.10.2.1.3.1.1 = INTEGER: 8
iso.3.6.1.2.1.43.10.2.1.4.1.1 = Counter32: 3967
iso.3.6.1.2.1.43.10.2.1.5.1.1 = Counter32: 53
iso.3.6.1.2.1.43.10.2.1.6.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.10.2.1.7.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.10.2.1.8.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.10.2.1.9.1.1 = INTEGER: 1200
iso.3.6.1.2.1.43.10.2.1.10.1.1 = INTEGER: 1200
iso.3.6.1.2.1.43.10.2.1.11.1.1 = INTEGER: 4233
iso.3.6.1.2.1.43.10.2.1.12.1.1 = INTEGER: 4233
iso.3.6.1.2.1.43.10.2.1.13.1.1 = INTEGER: 4233
iso.3.6.1.2.1.43.10.2.1.14.1.1 = INTEGER: 4233
iso.3.6.1.2.1.43.10.2.1.15.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.11.1.1.2.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.11.1.1.2.1.2 = INTEGER: 1
iso.3.6.1.2.1.43.11.1.1.3.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.11.1.1.3.1.2 = INTEGER: 0
iso.3.6.1.2.1.43.11.1.1.4.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.11.1.1.4.1.2 = INTEGER: 3
iso.3.6.1.2.1.43.11.1.1.5.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.11.1.1.5.1.2 = INTEGER: 9
iso.3.6.1.2.1.43.11.1.1.6.1.1 = STRING: "Black Toner Cartridge"
iso.3.6.1.2.1.43.11.1.1.6.1.2 = STRING: "Drum Unit"
iso.3.6.1.2.1.43.11.1.1.7.1.1 = INTEGER: 13
iso.3.6.1.2.1.43.11.1.1.7.1.2 = INTEGER: 7
iso.3.6.1.2.1.43.11.1.1.8.1.1 = INTEGER: -2
iso.3.6.1.2.1.43.11.1.1.8.1.2 = INTEGER: 10000
iso.3.6.1.2.1.43.11.1.1.9.1.1 = INTEGER: -3
iso.3.6.1.2.1.43.11.1.1.9.1.2 = INTEGER: 9635
iso.3.6.1.2.1.43.12.1.1.2.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.12.1.1.3.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.12.1.1.4.1.1 = STRING: "black"
iso.3.6.1.2.1.43.12.1.1.5.1.1 = INTEGER: 2
iso.3.6.1.2.1.43.13.4.1.2.1.1 = INTEGER: 7
iso.3.6.1.2.1.43.13.4.1.3.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.13.4.1.4.1.1 = INTEGER: 1260
iso.3.6.1.2.1.43.13.4.1.5.1.1 = INTEGER: 355600
iso.3.6.1.2.1.43.13.4.1.6.1.1 = INTEGER: 215900
iso.3.6.1.2.1.43.13.4.1.7.1.1 = INTEGER: 127000
iso.3.6.1.2.1.43.13.4.1.8.1.1 = INTEGER: 76200
iso.3.6.1.2.1.43.13.4.1.9.1.1 = INTEGER: 5
iso.3.6.1.2.1.43.13.4.1.10.1.1 = STRING: "Simplex"
iso.3.6.1.2.1.43.13.4.1.11.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.14.1.1.2.1.1 = INTEGER: 8
iso.3.6.1.2.1.43.14.1.1.2.1.2 = INTEGER: 11
iso.3.6.1.2.1.43.14.1.1.2.1.3 = INTEGER: 13
iso.3.6.1.2.1.43.14.1.1.2.1.4 = INTEGER: 14
iso.3.6.1.2.1.43.14.1.1.2.1.5 = INTEGER: 27
iso.3.6.1.2.1.43.14.1.1.2.1.6 = INTEGER: 34
iso.3.6.1.2.1.43.14.1.1.2.1.7 = INTEGER: 38
iso.3.6.1.2.1.43.14.1.1.2.1.8 = INTEGER: 42
iso.3.6.1.2.1.43.14.1.1.2.1.9 = INTEGER: 44
iso.3.6.1.2.1.43.14.1.1.2.1.10 = INTEGER: 45
iso.3.6.1.2.1.43.14.1.1.3.1.1 = STRING: "1991 Draft"
iso.3.6.1.2.1.43.14.1.1.3.1.2 = ""
iso.3.6.1.2.1.43.14.1.1.3.1.3 = STRING: "RFC 959"
iso.3.6.1.2.1.43.14.1.1.3.1.4 = STRING: "RFC 1350"
iso.3.6.1.2.1.43.14.1.1.3.1.5 = ""
iso.3.6.1.2.1.43.14.1.1.3.1.6 = STRING: "1.0"
iso.3.6.1.2.1.43.14.1.1.3.1.7 = ""
iso.3.6.1.2.1.43.14.1.1.3.1.8 = STRING: "1.1"
iso.3.6.1.2.1.43.14.1.1.3.1.9 = STRING: "1.0"
iso.3.6.1.2.1.43.14.1.1.3.1.10 = STRING: "RFC 2821"
iso.3.6.1.2.1.43.14.1.1.4.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.2 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.3 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.4 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.5 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.6 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.7 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.8 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.9 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.4.1.10 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.2 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.3 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.4 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.5 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.6 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.7 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.8 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.9 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.5.1.10 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.6.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.2 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.3 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.4 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.5 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.6 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.7 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.8 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.9 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.6.1.10 = INTEGER: 3
iso.3.6.1.2.1.43.14.1.1.7.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.2 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.3 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.4 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.5 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.6 = INTEGER: 0
iso.3.6.1.2.1.43.14.1.1.7.1.7 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.8 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.9 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.7.1.10 = INTEGER: 1
iso.3.6.1.2.1.43.14.1.1.8.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.2 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.3 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.4 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.5 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.6 = INTEGER: 0
iso.3.6.1.2.1.43.14.1.1.8.1.7 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.8 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.9 = INTEGER: 4
iso.3.6.1.2.1.43.14.1.1.8.1.10 = INTEGER: 4
iso.3.6.1.2.1.43.15.1.1.2.1.1 = INTEGER: 1
iso.3.6.1.2.1.43.15.1.1.2.1.2 = INTEGER: 5
iso.3.6.1.2.1.43.15.1.1.3.1.1 = STRING: "0.00"
iso.3.6.1.2.1.43.15.1.1.3.1.2 = STRING: "0.00"
iso.3.6.1.2.1.43.15.1.1.4.1.1 = STRING: "20160502"
iso.3.6.1.2.1.43.15.1.1.4.1.2 = STRING: "20160502"
iso.3.6.1.2.1.43.15.1.1.5.1.1 = STRING: "XL2HB"
iso.3.6.1.2.1.43.15.1.1.5.1.2 = STRING: "PJL"
iso.3.6.1.2.1.43.15.1.1.6.1.1 = STRING: "0.00"
iso.3.6.1.2.1.43.15.1.1.6.1.2 = STRING: "0.00"
iso.3.6.1.2.1.43.15.1.1.7.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.15.1.1.7.1.2 = INTEGER: 3
iso.3.6.1.2.1.43.15.1.1.8.1.1 = INTEGER: 2400
iso.3.6.1.2.1.43.15.1.1.8.1.2 = INTEGER: 2400
iso.3.6.1.2.1.43.15.1.1.9.1.1 = INTEGER: 600
iso.3.6.1.2.1.43.15.1.1.9.1.2 = INTEGER: 600
iso.3.6.1.2.1.43.15.1.1.10.1.1 = INTEGER: 2
iso.3.6.1.2.1.43.15.1.1.10.1.2 = INTEGER: 2004
iso.3.6.1.2.1.43.15.1.1.11.1.1 = INTEGER: 2
iso.3.6.1.2.1.43.15.1.1.11.1.2 = INTEGER: 2004
iso.3.6.1.2.1.43.15.1.1.12.1.1 = INTEGER: 3
iso.3.6.1.2.1.43.15.1.1.12.1.2 = INTEGER: 3
iso.3.6.1.2.1.43.16.5.1.2.1.1 = Hex-STRING: E5 A0 86 E5 8F A0 E5 A4 8D E5 8D B0 20 20 20 20 
20 E4 BB BD E6 95 B0 3A 30 31 
iso.3.6.1.2.1.43.16.5.1.2.1.2 = Hex-STRING: E6 B7 B1 E5 BA A6 E4 BC 91 E7 9C A0 20 20 20 20 
20 20 20 20 20 20 20 20 
iso.3.6.1.2.1.43.17.6.1.2.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.17.6.1.2.1.2 = INTEGER: 0
iso.3.6.1.2.1.43.17.6.1.3.1.1 = INTEGER: 1000
iso.3.6.1.2.1.43.17.6.1.3.1.2 = INTEGER: 1000
iso.3.6.1.2.1.43.17.6.1.4.1.1 = INTEGER: 4
iso.3.6.1.2.1.43.17.6.1.4.1.2 = INTEGER: 5
iso.3.6.1.2.1.43.17.6.1.5.1.1 = STRING: "Toner"
iso.3.6.1.2.1.43.17.6.1.5.1.2 = STRING: "Data"
iso.3.6.1.2.1.43.18.1.1.2.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.18.1.1.3.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.18.1.1.4.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.18.1.1.5.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.18.1.1.6.1.1 = INTEGER: 40000
iso.3.6.1.2.1.43.18.1.1.7.1.1 = INTEGER: 0
iso.3.6.1.2.1.43.18.1.1.8.1.1 = Hex-STRING: E4 BC 91 E7 9C A0 
iso.3.6.1.2.1.43.18.1.1.9.1.1 = Timeticks: (0) 0:00:00.00


Please extract the `brother` folder from this zip file and use it as a custom component (copy to `/config/custom_components` folder), restart HA and report if the status is correct.
[brother_custom.zip](https://github.com/home-assistant/core/files/14891229/brother_custom.zip)


> Please extract the `brother` folder from this zip file and use it as a custom component (copy to `/config/custom_components` folder), restart HA and report if the status is correct. [brother_custom.zip](https://github.com/home-assistant/core/files/14891229/brother_custom.zip)

![微信图片_20240406192236](https://github.com/home-assistant/core/assets/28810052/643a10b7-f02a-4951-818a-35b14de4ea12)

**It can display correctly, it's amazing. Thank you very much for your attention and high efficiency!**