Make Home Assistant discoverable via SSDP

Home Assistant 0.104

Currently Home Assistant discovers other devices via SSDP, but it is not itself discoverable via SSDP. If we are, links to our UI will show up in the Network tab in Windows Explorer. Example:

![image](https://user-images.githubusercontent.com/1444314/72780241-3580e780-3bd3-11ea-88ec-1972da504b43.png)


We could probably use `emulated_hue/upnp.py`. I still need to break that out into an external lib

Do we still want this? There are some examples in the used `async-upnp-client` library. Although the library is meant as a client, I'm sure I can add some server capability.

I think that it still would be great for Windows users to open Home Assistant.

Something like this?
![image](https://user-images.githubusercontent.com/724259/194549554-74cd011f-0af1-409e-ba3e-ec03e6ccaa33.png)

I'm uncertain about the device web page though. I'm trying to keep it as simple as possible, thus using https://my.home-assistant.io/ for the Device web page/presentation URL.

The UDN (Unique Device Name, something which should be static for every device) is the Home Assistant instance ID.

That's awesome ! You should be able to use `get_url(hass)` from the `network` helper for the URL.

- Manufacturer just make it Home Assistant
- Model: Let's have this be the installation method. Home Assistant OS, Home Assistant Container, Home Assistant Core, Home Assistant Supervised. You can get it from `async_get_system_info` from the `system_info` helper
- Model website: https://www.home-assistant.io
- URL should be based on get_url. Users don't have My, otherwise they would know their IP address and don't have to use this method 🙃 
- Can we change the icon ?
- Serial number can be set to the UUID. Although unique identifier is a separate field? 🤷 

![image](https://user-images.githubusercontent.com/724259/194597419-ad6e566a-e0a7-4985-b58c-5ab734f8b108.png)

> Although unique identifier is a separate field? 🤷

UDN and serial number are separate fields indeed. UDN is meant as a unique identifier for the device, serial number is meant for... people?

> Can we change the icon ?

A list of icons can be given. Which one(s) should I use?

Manufacturer/model URL differ in the screenshot, but I'll make sure these are both `https://www.home-assistant.io`

https://github.com/home-assistant/frontend/tree/dev/public/static/icons

These icons are all available as `<local url>/static/icons/X`

I think the icon is something Windows assigns (Windows 11 in this case.)

The UPnP spec says this about the icon URL (emphasis mine):
> Required. Pointer to icon image. (XML does not support direct embedding of binary 
data. See note below.) Retrieved via HTTP. **Shall be relative to the URL at which the 
device description is located** in accordance with clause 5 of RFC 3986. Specified by 
UPnP vendor. Single URL.

Serving the icons from hass itself, or from the aiohttp server used for upnp to provide the relative path, does not seem to change the icon. I'll keep on trying for a bit. Perhaps there is (also) some caching going on by Windows.

Nice work on this one 👍 

Found a race when testing in production https://github.com/home-assistant/core/issues/80400